<%-include("header.ejs") %> 

<a class="back-button" href="/"><img src="styles/seta-esquerda.png"></a>
    <div class="content">
      <div id="choose-filed-home" class="choose-field">
        <p>SISTEMA DE GERENCIAMENTO</p>
        <div class="buttons-management">
          <a class="home-a" href="/employees">Funcionarios</a>
        </div>
      </div>
    </div>

<%-include("footer.ejs") %> 